.footer {
    background-color: #2C3154;
    padding: 24px 0;
}
.footer-copyright {
    width: 370px;
    margin: auto;
    text-align: center;
}
.footer-copyright__text p {
    color: #808080;
    font-weight: 400;
    font-size: 18px;
}
.footer-copyright__text span {
    color: #fff;
}